@font-face {
    font-family: 'Resolide';
    src: url('ResolideSerif_PERSONAL_USE_ONLY.otf') format('opentype');
}
@font-face {
    font-family: 'Crystal';
    src: url('CrystalUniverse-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Round';
    src: url('Typo_Round_Light_Demo.otf') format('opentype');
}

*{
    /*bloco de reset*/
    box-sizing: border-box;
    margin: 0px ;
    padding: 0;
}

body{
    background-color: #c088ff; /*cor em hexadecimal*/
}

header{
    color: #000000; /*branco em hexad*/
    text-align: center;

}
     header h1{
        margin-top: 20px;
        letter-spacing: 8px;
        font-size: 70px;
        font-family:'Crystal';
    }
    header p{ 
        margin-top: 80px;
        font-size: 30px;
        font-family:'Resolide'; 
    }
    nav{
        width: 100%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 50px;
        gap: 30px;
    }
nav a{
    font-family: 'Round';
    width: 200px;
    color: whitesmoke;
    text-decoration: none; /*tirei toda a decoração do texto*/
    padding: 4px;
    border-radius: 8px;
    background-color: purple;
    border-bottom-color:#d8d;
    text-align: center;
    
}

.bloco h2{
    font-family: 'Resolide';
    margin-bottom: 0px;
    margin-top: 10px;
    border-radius: 20px;
}

.bloco p{
    margin-bottom: 20px;
    margin-top: 10px;
}

.bloco ul{
    margin-bottom: 20px;
    margin-top: 10px;
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
}

nav a:hover{color: #d8d;}
.bloco{ /*declaração de class, a class procede de "." */
    font-family: 'Round';
    font-size: 20px;
    background-color: purple;
    color: white;
    padding: 20px;
    margin: 20px auto; 
    width: 80%;          
    max-width: 800px;    
    text-align: center;
    border-radius: 20px;
    
}
#galeria{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    justify-content: center;
    padding: 20px;

}

.foto{
    background:#ffffff;
    padding: 12px 12px 20px 12px;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 10px #000;
    width: 220px;
    text-align: center;
    border-radius: 4px;
}

.foto img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}
.foto:hover{
    transform: scale(1.50)  rotate(360deg) ;
    transition: 2s;
}

.legenda{
    margin-top: 10px;
    color: #000000;
    font-family: 'Round';
    font-size: 20px;
    font-style: italic;
}
section{
    font-family: 'Round';
    margin-left: 20px;
}
section h2{
    font-family: 'Resolide';
    font-size: 30px;
    margin-left: 20px;
    margin-top: 70px;
}

section ol{
    margin-left: 20px;
}

footer{
    font-family: 'Round';
    margin-left: 20px;
    margin-top: 50px;
}